
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>
    
    <div class="heading">
      <a href="/<%=post._id %>" class="del"><i class="fa-regular fa-circle-xmark"></i></a>
      <span>
        <%=post.title%>
        <p class="content">
          <%=post.content.substring(0, 100) + " ..." %>
            <a href="/posts/<%=post._id%>">Read More</a>
        </p>
      </span>
    </div>
    
    


    <% }) %>
    <center class="hi">
      <a href="/compose" class="add">Add Blog</a>
    </center>
    
<%- include("partials/footer"); -%>
